.about-section {
    background: #fff;
    color: #313131;
    text-align: center;
    padding: 100px 120px 100px 120px;
    
  }
  
  .about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .about-heading h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 4px;
    color: #ff0077;
    margin: 0 0 10px 0;
  }
  
  .about-heading h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin: 0;
  }
  
  .about-heading p {
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #888888;
    max-width: 600px;
  }
  
  .profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 15px auto;
  }
  
  .about-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
  }
  
  .profile, .skills {
    width: 45%;
    text-align: left;
  }

  .profile-section {
    margin-bottom: 60px;
  }

  .profile-section p {
    width: 100%;
  }
  
  .profile h3, .skills h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 2.5px;
  }
  
  .profile p, .skills p {
    font-family: 'Lora', serif;
    font-size: 17px;
    color: #6e6e6e;
  }

  .profile p {
    margin-bottom: 30px;
  }
  
  .profile ul {
    list-style: none;
    padding: 0;
  }
  
  .profile ul li {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 10px;
    color: #888888;
  }
  
  .profile ul li strong {
    color: #313131;
    letter-spacing: 2px;
  }

  .skills p {
    margin-bottom: 30px;
  }
  
  .skill-tree{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .skill {
    font-size: 75px;
    height: 75px;
    width: auto;
  }
  
  .buttons {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  
  button {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 10px 30px;
    border: 3px solid #313131;
    background: transparent;
    cursor: pointer;
    margin: 0 10px;
  }
  
  button.download-cv {
    background: #313131;
    color: #fff;
  }
  
  button:hover {
    background: #313131;
    color: #fff;
  }
  