.contact-section {
  margin: 0 auto;
  padding: 100px;
  background-color: #151515;
  color: #fff;
  text-align: center;
}

.contact-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ff0077;
  margin-bottom: 10px;
}

.contact-title {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: -1px;
  margin: 16px 0;
}

.description {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #ffffffb2;
  margin: 0 auto 40px;
  max-width: 700px;
}

.contact-form {
  width: 80vw;
  max-width: 700px;
  margin: 0 auto 60px;
  /* border: 1px solid white; */
}

.form-input,
.form-textarea {
  width: 90%;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.form-input {
  border-bottom: 1px solid #ffffff4d;
}

.form-textarea {
  resize: none;
  height: 150px;
}

.form-input:focus {
  border-bottom: 1px solid #ffffff4d;
}

.form-input:active {
  border-bottom: 1px solid #ffffff4d;
}

.form-input:focus,
.form-textarea:focus {
  outline: none;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: #ffffff4d;
}


.form-submit {
  width: 75%;
  padding: 20px;
  background-color: #ff0077;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  border: none;
  text-align: center;
}


@media (max-width: 768px) {
  
  .contact-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin: 0;
  }

  .description {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #ffffffb2;
    text-align: center;
    margin: 10px auto 50px auto;
  }

  .contact-form {
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -15px;
  }


}