.resume-container {
    padding-top: 100px;
    background-color: #EBEBEB;
}

.resume-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #ff0077;
    margin-bottom: 10px;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: -1px;
    color: #313131;
    margin: 16px 0;
}

.resume-description {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #7d7d7d;
    text-align: center;
    margin: 0 auto;
    max-width: 650px;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #ff0077;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 50px;
}

.experience {
    display: flex;
    justify-content: center;
}

.experience-list {
    list-style-type: none;
    padding: 0;
    margin-left: 24px;
    margin-right: 24px;
}

.experience-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    /* border-bottom: 1px solid #ddd; */
    padding-bottom: 15px;
    gap: 150px;
}

.experience-left {
    flex: 1;
    text-align: right;
}

.experience-right {
    flex: 1;
    text-align: left;
}

.experience-right p {
    margin-right: 50px;
}

.ex-right-hr {
    width: 50px;
    color: #ddd;
    margin: 15px 0;
}

h4,
p {
    margin: 5px 0;
}

.education {
    display: flex;
    justify-content: center;
}

.education-list {
    list-style-type: none;
    padding: 0;
    margin-left: 24px;
    margin-right: 24px;
}

.education-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    /* border-bottom: 1px solid #ddd; */
    padding-bottom: 15px;
    gap: 150px;
}

.education-left {
    flex: 1;
    text-align: right;
}

.education-right {
    flex: 1;
    text-align: left;
}

@media (max-width: 768px) {
    .education-item {
        display: flex;
        flex-direction: column;
        width: 85vw;
    }

    .education-left {
        margin-bottom: -150px;
        text-align: left;
    }

    .experience-item {
        display: flex;
        flex-direction: column;
        width: 85vw;
    }

    .experience-left {
        margin-bottom: -150px;
        text-align: left;
    }

    .resume-description {
        font-family: 'Lora', serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 36px;
        color: #7d7d7d;
        text-align: center;
        margin: 0 24px;
        position: relative;        
    }

    .resume-container .title {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 28px;
        margin: 0;    
    }

}
